body {
      font-family:Arial;
      background-color:#ffffff;
      max-width:775px;
}
h1 {
    font-weight:bold;
    margin-left:20pt;
    margin-top:15pt;
    margin-bottom:15pt;
    border-bottom-style:Solid;
    border-bottom-width:4px;
    font-family:Calibri;
    font-size:24pt;
    color:#000080;
    text-align:center;
}
h2 {
    font-weight:bold;
    margin-left:20pt;
    margin-top:20pt;
    margin-bottom:20pt;
    font-family:Calibri;
    text-align:left;
    color:#000080;
    font-size:20pt;
}
h3 {
    font-weight:bold;
    font-size:14.0pt;
}
h4 {
    font-weight:bold;
    font-size:12.0pt;
}
h5 {
    font-weight:bold;
    font-size:10.0pt;
}
h6 {
    font-weight:bold;
    font-size:8.0pt;
}
p {
   font-size:12.0pt;
   margin-bottom:0pt;
   font-family:Arial;
   margin-top:5pt;
   line-height:150%;
   margin-left:80pt;
}
a {
   display:inline;
}
a.expandspot {
              cursor:hand;
              font-style:italic;
              display:inline;
              color:#008080;
              text-decoration:none underline;
}
span.expandtext {
                 font-style:italic;
                 font-weight:normal;
                 color:#ff0000;
}
a.dropspot {
            cursor:hand;
            font-style:italic;
            display:inline;
            color:#800080;
            text-decoration:none underline;
}
a.glossterm {
             cursor:hand;
             display:inline;
             color:#ff0000;
             text-decoration:none underline;
}
span.glosstext {
                font-weight:normal;
                background-color:#ffff00;
                color:#000000;
}
ol {
    margin-top:0px;
    margin-bottom:0px;
}
ul {
    margin-top:0px;
    margin-bottom:0px;
}
table.Style1 {
}
table.Automated_Step {
                      x-border-spacing:0px;
                      background-color:#ffffff;
}
table.Automated_Step td {
                         padding-left:10px;
                         padding-right:10px;
                         padding-top:5px;
                         padding-bottom:10px;
}
table.Step_in_Process {
                       line-height:150%;
                       x-border-spacing:20px;
                       font-family:Arial;
}
table.Step_in_Process td {
                          padding-left:15px;
                          padding-right:15px;
                          padding-top:15px;
                          padding-bottom:15px;
}
table.Z_Unused_Table_Style td {
                               padding-left:15px;
                               padding-right:15px;
                               padding-top:15px;
                               padding-bottom:15px;
}
table.Z_Unused_Table_Style {
                            line-height:150%;
                            x-border-spacing:20px;
                            margin-left:20pt;
}
li.Bullet_List_MT {
                   margin-left:20px;
                   line-height:200%;
                   margin-bottom:10px;
}
span.Screen_Name {
                  font-style:italic;
                  color:#0000ff;
                  font-variant:normal;
}
p.Normal_Pre-Bullet_Pre-Numbers {
                                 mso-fareast-theme-font:minor-latin;
                                 font-family:Arial, sans-serif;
                                 mso-fareast-font-family:Calibri;
                                 line-height:150%;
                                 margin-bottom:10pt;
                                 margin-right:5pt;
                                 margin-left:20pt;
                                 margin-top:10pt;
}
span.Field_Name {
                 color:#0000ff;
                 font-style:italic;
                 font-weight:normal;
}
span.Troubleshooting_Titles {
}
p.Troubleshooting_Header {
                          color:#ff0000;
                          margin-left:20pt;
                          font-size:18pt;
                          line-height:Normal;
                          margin-top:10pt;
                          padding-top:5px;
                          padding-bottom:5px;
                          margin-bottom:20pt;
                          border-top-style:none;
                          border-bottom-style:Solid;
                          border-bottom-width:4px;
                          font-weight:bold;
}
rh-list.Numbered_Process_Steps {
                                x-lvl-1-format:<x>&c;
                                x-lvl-2-type:lower-alpha;
                                x-lvl-2-format:<x>&c;
                                x-lvl-2-margin:20px;
                                x-lvl-3-type:lower-roman;
                                x-lvl-3-format:<x>&c;
                                x-lvl-3-margin:40px;
                                x-lvl-4-type:decimal;
                                x-lvl-4-format:&o<x>&c;
                                x-lvl-4-margin:60px;
                                x-lvl-5-format:&o<x>&c;
                                x-lvl-5-margin:80px;
                                x-lvl-6-type:lower-roman;
                                x-lvl-6-format:&o<x>&c;
                                x-lvl-6-margin:100px;
                                x-lvl-8-type:lower-alpha;
                                x-lvl-8-margin:140px;
                                x-lvl-7-format:<x>.;
                                x-lvl-7-margin:120px;
                                x-level-count:9;
                                x-lvl-9-type:lower-roman;
                                x-lvl-9-margin:160px;
}
rh-list.Numbered_Steps {
                        x-lvl-2-type:lower-alpha;
                        x-lvl-2-format:<x>&c;
                        x-lvl-2-margin:20px;
                        x-lvl-3-type:lower-roman;
                        x-lvl-3-format:<x>&c;
                        x-lvl-3-margin:40px;
                        x-lvl-4-type:decimal;
                        x-lvl-4-format:&o<x>&c;
                        x-lvl-4-margin:60px;
                        x-lvl-5-format:&o<x>&c;
                        x-lvl-5-margin:80px;
                        x-lvl-6-type:lower-roman;
                        x-lvl-6-format:&o<x>&c;
                        x-lvl-6-margin:100px;
                        x-lvl-8-type:lower-alpha;
                        x-lvl-8-margin:140px;
                        x-lvl-7-format:<x>.;
                        x-lvl-7-margin:120px;
                        x-lvl-9-type:lower-roman;
                        x-lvl-9-margin:160px;
                        x-level-count:9;
                        x-lvl-1-format:Step "<x>:";
                        x-lvl-1-p-class:Step_Title;
                        x-lvl-1-p-tag:p;
                        x-lvl-1-pfx-class:rls-1-Numbered_Steps;
}
span.rls-1-Numbered_Steps {
                           color:#008000;
}
span.Legislation_Titles {
                         font-weight:bold;
                         font-family:"Century Gothic" , sans-serif;
                         font-variant:normal;
}
span.Path_in_ASSETS {
                     font-weight:bold;
                     font-style:italic;
}
li.Bullet_List_Regular {
                        list-style:disc;
                        margin-bottom:10px;
                        line-height:150%;
                        margin-top:15px;
                        margin-left:50pt;
}
span.Notices_name {
                   font-style:italic;
                   font-family:Arial;
                   font-weight:bold;
                   color:#00009e;
}
li.Numbered_List_UPPER_ALPHA {
                              list-style:upper-alpha;
}
span.Code_Value {
                 color:#0000ff;
                 font-weight:bold;
                 font-variant:normal;
}
table.Decision_Tree {
                     x-border-spacing:0px;
                     margin-left:20pt;
}
table.Decision_Tree td {
                        padding-left:5px;
                        padding-right:5px;
                        padding-top:5px;
                        padding-bottom:5px;
}
img.Process_Diagrams {
                      margin-left:20pt;
}
h1.Process_Step_H1 {
                    font-weight:bold;
                    margin-top:10pt;
                    padding-top:5px;
                    padding-bottom:5px;
                    color:#000080;
                    border-top-style:None;
                    border-bottom-color:#000080;
                    border-bottom-style:Solid;
                    margin-bottom:25pt;
                    margin-left:20pt;
                    border-bottom-width:2px;
                    background-color:Transparent;
                    text-align:center;
                    font-family:Calibri;
                    font-size:24pt;
}
img.Screenshots_Experimental {
}
a.breadcrumbs {
               font-size:10pt;
               display:inline;
}
img.Screenshot_Not_In_Table {
                             margin-top:15px;
                             margin-bottom:15px;
                             margin-left:10px;
                             border-left-style:Solid;
                             border-left-width:1px;
                             border-left-color:#000000;
                             border-right-style:Solid;
                             border-right-width:1px;
                             border-right-color:#000000;
                             border-top-style:Solid;
                             border-top-width:1px;
                             border-top-color:#000000;
                             border-bottom-style:Solid;
                             border-bottom-width:1px;
                             border-bottom-color:#000000;
}
table.Attachments_Mailed {
}
img.Screenshot_Embedded_In_Table {
                                  margin-left:10px;
                                  margin-top:15px;
                                  margin-bottom:15px;
}
div.Style2 {
}
div.Style3 {
}
rh-list.rl-h2-Numbered_Headings_Within_Topic {
                                              x-level-count:1;
                                              x-lvl-1-format:<x>.;
                                              x-lvl-1-type:upper-alpha;
}
table.Features_List {
                     x-border-spacing:0px;
}
div.Style4 {
}
div.Style5 {
}
img.Icon_Master_Page {
                      float:left;
                      margin-left:10pt;
                      margin-right:38px;
}
p.Body_Text_Post_Icon {
                       mso-fareast-theme-font:minor-latin;
                       font-family:Arial, sans-serif;
                       mso-fareast-font-family:Calibri;
                       line-height:150%;
                       margin-top:10pt;
                       margin-bottom:10pt;
                       margin-right:5pt;
                       margin-left:40pt;
                       x-next-class:Master_Page_100_pt_Indent_body_text;
                       x-next-type:p;
}
div.Body_Standard_Indent {
                          margin-left:40px;
                          float:left;
}
p.Master_Page_100_pt_Indent_body_text {
                                       mso-fareast-theme-font:minor-latin;
                                       font-family:Arial, sans-serif;
                                       mso-fareast-font-family:Calibri;
                                       line-height:150%;
                                       margin-top:10pt;
                                       margin-bottom:10pt;
                                       margin-right:5pt;
                                       margin-left:100pt;
}
li.Bullet_New_Style {
                     list-style:disc;
                     margin-top:15pt;
}
h1.Process_Step_H1_CASEWORKER {
                               font-weight:bold;
                               font-family:Arial;
                               margin-top:10pt;
                               padding-top:5px;
                               padding-bottom:5px;
                               color:#000080;
                               font-size:18pt;
                               border-top-style:None;
                               border-bottom-color:#000080;
                               border-bottom-style:Solid;
                               margin-bottom:25pt;
                               margin-left:20pt;
                               border-bottom-width:2px;
                               background-color:Transparent;
}
h1.Process_Step_H1_PROC_CTR {
                             font-weight:bold;
                             font-family:Arial;
                             margin-top:10pt;
                             padding-top:5px;
                             padding-bottom:5px;
                             color:#000080;
                             font-size:18pt;
                             border-top-style:None;
                             border-bottom-color:#000080;
                             border-bottom-style:Solid;
                             margin-bottom:25pt;
                             margin-left:20pt;
                             border-bottom-width:2px;
                             background-color:Transparent;
}
h1.Process_Step_H1_CP_or_NCP {
                              font-weight:bold;
                              font-family:Arial;
                              margin-top:10pt;
                              padding-top:5px;
                              padding-bottom:5px;
                              color:#000080;
                              font-size:18pt;
                              border-top-style:None;
                              border-bottom-color:#000080;
                              border-bottom-style:Solid;
                              margin-bottom:25pt;
                              margin-left:20pt;
                              border-bottom-width:2px;
                              background-color:Transparent;
}
div.droptext {
              border-left-style:None;
              border-right-style:None;
              border-top-style:None;
              border-bottom-style:None;
              background-color:#ecf5ff;
}
a.popupspot {
             color:#008000;
             text-decoration:none;
}
a:visited {
           color:#0000ff;
}
a:hover {
         color:#000000;
         background-color:#00ffff;
}
img.Icon_QUESTION_MARK {
                        float:left;
                        margin-right:35px;
                        margin-left:21pt;
}
a:active {
          color:#0000ff;
}
a.glossterm:visited {
                     color:#ff0000;
}
a.glossterm:hover {
                   background-color:#ffff00;
                   font-weight:normal;
}
img.Icon_INFORMATION {
                      float:left;
                      margin-left:23pt;
                      margin-right:33px;
}
rh-list.Numbered_List {
                       x-lvl-2-type:lower-alpha;
                       x-lvl-2-format:<x>&c;
                       x-lvl-2-margin:20px;
                       x-lvl-3-type:lower-roman;
                       x-lvl-3-format:<x>&c;
                       x-lvl-3-margin:40px;
                       x-lvl-4-type:decimal;
                       x-lvl-4-format:&o<x>&c;
                       x-lvl-4-margin:60px;
                       x-lvl-5-format:&o<x>&c;
                       x-lvl-5-margin:80px;
                       x-lvl-6-type:lower-roman;
                       x-lvl-6-format:&o<x>&c;
                       x-lvl-6-margin:100px;
                       x-lvl-8-type:lower-alpha;
                       x-lvl-8-margin:140px;
                       x-lvl-7-format:<x>.;
                       x-lvl-7-margin:120px;
                       x-lvl-9-type:lower-roman;
                       x-lvl-9-margin:160px;
                       x-lvl-1-format:<x>.;
                       x-level-count:9;
                       x-lvl-1-margin:70px;
                       x-lvl-1-text-indent:-70px;
}
img.Icon_SCHEDULED_PROCESS {
                            float:left;
                            margin-right:26px;
                            margin-left:0pt;
}
li.Numbered_List_lower_alpha {
                              list-style:lower-alpha;
                              margin-right:10px;
}
rh-list.Numbered_List_lower_alphabetic {
                                        x-lvl-2-type:lower-alpha;
                                        x-lvl-2-format:<x>&c;
                                        x-lvl-2-margin:20px;
                                        x-lvl-3-type:lower-roman;
                                        x-lvl-3-format:<x>&c;
                                        x-lvl-3-margin:40px;
                                        x-lvl-4-type:decimal;
                                        x-lvl-4-format:&o<x>&c;
                                        x-lvl-4-margin:60px;
                                        x-lvl-5-format:&o<x>&c;
                                        x-lvl-5-margin:80px;
                                        x-lvl-6-type:lower-roman;
                                        x-lvl-6-format:&o<x>&c;
                                        x-lvl-6-margin:100px;
                                        x-lvl-8-type:lower-alpha;
                                        x-lvl-8-margin:140px;
                                        x-lvl-7-format:<x>.;
                                        x-lvl-7-margin:120px;
                                        x-lvl-9-type:lower-roman;
                                        x-lvl-9-margin:160px;
                                        x-lvl-1-type:lower-alpha;
                                        x-lvl-1-format:<x>&c;
                                        x-level-count:9;
                                        x-lvl-1-margin:50px;
                                        x-lvl-1-text-indent:-50px;
}
li.Style06 {
}
img.Icon_WARNING {
                  float:left;
                  margin-right:30pt;
                  margin-left:8pt;
}
img.Icon_CASEWORKER {
                     float:left;
                     margin-right:27pt;
                     margin-left:20pt;
}
img.Icon_on_RIGHT {
                   margin-left:10pt;
                   margin-right:38px;
                   float:right;
}
a.expandspot:link {
                   color:#008080;
}
a.expandspot:visited {
                      color:#008080;
}
a.expandspot:focus {
                    color:#008080;
}
a.expandspot:hover {
                    color:#000000;
}
a.expandspot:active {
                     color:#008080;
}
a.dropspot:link {
                 color:#800080;
}
a.dropspot:visited {
                    color:#800080;
}
a.dropspot:focus {
                  color:#800080;
}
a.dropspot:hover {
                  font-style:italic;
}
a.dropspot:active {
                   color:#800080;
}
table.Table_2_col_header {
}
